In [5]:
import pandas as pd

In [7]:
bern = pd.read_json(f'data_master/resources/BernieSanders.csv',lines=True)
bern.head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,quoted_status,quoted_status_id,quoted_status_id_str,quoted_status_permalink,retweet_count,retweeted,retweeted_status,source,truncated,user
0,NaN,NaN,2019-06-29 19:18:45,"[0, 144]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,RT @CoriBush: The forward thinking &amp; coura...,NaN,...,NaN,1.144982e+18,1.144982e+18,"{'url': 'https://t.co/cTBfChwqcv', 'expanded':...",219,False,{'created_at': 'Sat Jun 29 17:21:22 +0000 2019...,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 216776631, 'id_str': '216776631', 'name..."
1,NaN,NaN,2019-06-29 16:57:28,"[0, 272]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,25576,False,"My skeptics often accuse me of being boring, o...",NaN,...,NaN,NaN,NaN,NaN,5644,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,"{'id': 216776631, 'id_str': '216776631', 'name..."
2,NaN,NaN,2019-06-29 16:24:54,"[0, 150]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,5402,False,Let's call this what it is: a racist and uncon...,NaN,...,{'created_at': 'Sat Jun 29 00:08:14 +0000 2019...,1.144759e+18,1.144759e+18,"{'url': 'https://t.co/sqDfv3jxEt', 'expanded':...",1261,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,"{'id': 216776631, 'id_str': '216776631', 'name..."
3,NaN,NaN,2019-06-29 16:21:10,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,RT @amy4thepeople: @BernieSanders @CoriBush @p...,NaN,...,NaN,NaN,NaN,NaN,169,False,{'created_at': 'Sat Jun 29 16:20:36 +0000 2019...,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 216776631, 'id_str': '216776631', 'name..."
4,NaN,NaN,2019-06-29 16:12:34,"[0, 250]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,794,False,"When we are in the White House, we will have t...",NaN,...,NaN,NaN,NaN,NaN,249,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 216776631, 'id_str': '216776631', 'name..."

In [8]:
politic = ["BernieSanders.csv"
            "HouseDemocrats.csv"
            "HouseGOP.csv"
            "JoeBiden.csv"
            "Liz_Cheney.csv"
            "marcorubio.csv"
            "mike_pence.csv"
            "realDonaldTrump.csv"
            "SenateDems.csv"
            "SenateGOP.csv"
            "SenWarren.csv"
            "tedcruz.csv"]

for p in politic:
    csvname = p[1:]
    senategop = pd.read_json(f'data_master/resources/{csvname}.csv',lines=True)

ValueError: Expected object or value

In [12]:
senategop.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
0,NaN,NaN,2019-06-26 00:15:28,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,NaN,1143674099396468736,1143674099396468736,...,NaN,NaN,NaN,41,False,{'created_at': 'Wed Jun 26 00:08:37 +0000 2019...,"<a href=""http://twitter.com/download/iphone"" r...",RT @SASCMajority: The United States is the gre...,False,"{'id': 14344823, 'id_str': '14344823', 'name':..."
1,NaN,NaN,2019-06-25 23:54:56,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,NaN,1143668933272231943,1143668933272231936,...,NaN,NaN,NaN,72,False,{'created_at': 'Tue Jun 25 22:46:12 +0000 2019...,"<a href=""http://twitter.com/download/iphone"" r...",RT @JimInhofe: It’s been eight weeks since @re...,False,"{'id': 14344823, 'id_str': '14344823', 'name':..."
2,NaN,NaN,2019-06-25 22:06:05,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,NaN,1143641539291336705,1143641539291336704,...,NaN,NaN,NaN,42,False,{'created_at': 'Tue Jun 25 21:59:39 +0000 2019...,"<a href=""http://twitter.com/download/iphone"" r...",RT @SenThomTillis: I spoke on the Senate floor...,False,"{'id': 14344823, 'id_str': '14344823', 'name':..."
3,NaN,NaN,2019-06-25 20:52:20,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,193,False,NaN,1143622980033024008,1143622980033024000,...,NaN,NaN,NaN,50,False,NaN,"<a href=""https://studio.twitter.com"" rel=""nofo...",Iran’s recent aggression is a reminder of the ...,True,"{'id': 14344823, 'id_str': '14344823', 'name':..."
4,NaN,NaN,2019-06-25 19:31:01,"{'hashtags': [{'text': 'NDAA', 'indices': [50,...",NaN,0,False,NaN,1143602515570765826,1143602515570765824,...,NaN,NaN,NaN,13,False,{'created_at': 'Tue Jun 25 18:05:24 +0000 2019...,"<a href=""https://buffer.com"" rel=""nofollow"">Bu...",RT @SenCapito: Ready to vote “yes” on this yea...,False,"{'id': 14344823, 'id_str': '14344823', 'name':..."

In [13]:
sgtweets = senategop["text"]
sgtweets.head()

0    RT @SASCMajority: The United States is the gre...
1    RT @JimInhofe: It’s been eight weeks since @re...
2    RT @SenThomTillis: I spoke on the Senate floor...
3    Iran’s recent aggression is a reminder of the ...
4    RT @SenCapito: Ready to vote “yes” on this yea...
Name: text, dtype: object

In [14]:
t1_df= pd.DataFrame(sgtweets)
t1_df.head()

                                                text
0  RT @SASCMajority: The United States is the gre...
1  RT @JimInhofe: It’s been eight weeks since @re...
2  RT @SenThomTillis: I spoke on the Senate floor...
3  Iran’s recent aggression is a reminder of the ...
4  RT @SenCapito: Ready to vote “yes” on this yea...

In [16]:
t1_df = t1_df.rename(columns={'text': 'tweet'})
t1_df.head()

                                               tweet
0  RT @SASCMajority: The United States is the gre...
1  RT @JimInhofe: It’s been eight weeks since @re...
2  RT @SenThomTillis: I spoke on the Senate floor...
3  Iran’s recent aggression is a reminder of the ...
4  RT @SenCapito: Ready to vote “yes” on this yea...

In [17]:

t1_df.insert(0, 'Political Affiliation', 'Republican')

In [18]:
t1_df.head()

  Political Affiliation                                              tweet
0            Republican  RT @SASCMajority: The United States is the gre...
1            Republican  RT @JimInhofe: It’s been eight weeks since @re...
2            Republican  RT @SenThomTillis: I spoke on the Senate floor...
3            Republican  Iran’s recent aggression is a reminder of the ...
4            Republican  RT @SenCapito: Ready to vote “yes” on this yea...

In [21]:
aoc = pd.read_json("examples/AOC.json",lines=True)
aoctweets = aoc["text"]
t2_df= pd.DataFrame(aoctweets)
t2_df = t2_df.rename(columns={'text': 'tweet'})
t2_df.insert(0, 'Political Affiliation', 'Democrats')
t2_df.head()

  Political Affiliation                                              tweet
0             Democrats  I am so incredibly proud of @CabanForQueens - ...
1             Democrats                          😎 https://t.co/p20O6WLNSe
2             Democrats  RT @KatzOnEarth: One of the other lies people ...
3             Democrats  RT @mannyfidel: People on both sides of the ai...
4             Democrats  Wayfair workers couldn’t stomach they were mak...

In [23]:
bo = pd.read_json("examples/BarackObama.json",lines=True)
botweets = bo["text"]
t3_df= pd.DataFrame(botweets)
t3_df = t3_df.rename(columns={'text': 'tweet'})
t3_df.insert(0, 'Political Affiliation', 'Democrats')
t3_df.head()

  Political Affiliation                                              tweet
0             Democrats  Now we’re talking! Congrats to Team USA for mo...
1             Democrats  On Juneteenth, we celebrate our capacity to ma...
2             Democrats  Outside the Oval Office, I kept a painting of ...
3             Democrats  This is worth a read: a thought-provoking remi...
4             Democrats  Yes we can, Greta. I’m hopeful because of you ...

In [24]:
bs = pd.read_json("examples/BernieSanders.json",lines=True)
bstweets = bs["text"]
t4_df= pd.DataFrame(bstweets)
t4_df = t4_df.rename(columns={'text': 'tweet'})
t4_df.insert(0, 'Political Affiliation', 'Democrats')
t4_df.head()

  Political Affiliation                                              tweet
0             Democrats  Tiffany Cabán took on virtually the entire pol...
1             Democrats  RT @sunrisemvmt: We just got pizza from @Berni...
2             Democrats  RT @CabanForQueens: TODAY IS THE DAY! Queens r...
3             Democrats  Boston College grad students are fighting to h...
4             Democrats  I stand with the workers at Wayfair who are wa...

In [67]:
hd = pd.read_json("examples/HouseDemocrats.json",lines=True)
hdtweets = hd["text"]
t5_df= pd.DataFrame(hdtweets)
t5_df = t5_df.rename(columns={'text': 'tweet'})
t5_df.insert(0, 'Political Affiliation', 'Democrats')
t5_df.head()

  Political Affiliation                                              tweet
0             Democrats  One person 🙋🏽‍♂️, one vote 🗳 — regardless of r...
1             Democrats  RT @RepTerriSewell: In my hometown of Selma, A...
2             Democrats  RT @RepRoybalAllard: As DHS Approps Chair, I’m...
3             Democrats  House Democrats Will. Not. Stop. 🗣️\n\nThis we...
4             Democrats  RT @RepPeteAguilar: Elections are the defining...

In [69]:
hgop = pd.read_json("examples/HouseGOP.json",lines=True)
hgoptweets = hgop["text"]
t6_df= pd.DataFrame(hgoptweets)
t6_df = t6_df.rename(columns={'text': 'tweet'})
t6_df.insert(0, 'Political Affiliation', 'Republican')
t6_df.head()

  Political Affiliation                                              tweet
0            Republican  RT @RepDLesko: After repeatedly saying the cri...
1            Republican  RT @RepAGonzalez: The bill we are voting on to...
2            Republican  RT @RepRonEstes: Tonight, House Democrats vote...
3            Republican  RT @MikeKellyPA: Until @SpeakerPelosi believes...
4            Republican  RT @RepDLamborn: For 56 days, House Dems have ...

In [38]:
jb = pd.read_json("examples/JoeBiden.json",lines=True)
jbtweets = jb["text"]
t7_df= pd.DataFrame(jbtweets)
t7_df = t7_df.rename(columns={'text': 'tweet'})
t7_df.insert(0, 'Political Affiliation', 'Democrats')
t7_df.head()

  Political Affiliation                                              tweet
0             Democrats  In two days, I’ll take the stage for the first...
1             Democrats  We need to face the facts on climate change: i...
2             Democrats  Add your name to call on Congress to restore t...
3             Democrats  Civil rights was one of the things that got me...
4             Democrats  We must secure our borders, but “build the wal...

In [39]:
lc = pd.read_json("examples/lizcheney.json",lines=True)
lctweets = lc["text"]
t8_df= pd.DataFrame(lctweets)
t8_df = t8_df.rename(columns={'text': 'tweet'})
t8_df.insert(0, 'Political Affiliation', 'Republican')
t8_df.head()

  Political Affiliation                                              tweet
0            Republican  RT @SenTomCotton: 0818: You say it’s “false” t...
1            Republican  RT @GOPLeader: You and other Democrats have bl...
2            Republican      Listen and learn @AOC https://t.co/nq5CMyu8NT
3            Republican  Happy to help educate you @AOC. You could star...
4            Republican  Please @AOC do us all a favor and spend just a...

In [41]:
mr = pd.read_json("examples/marcorubio.json",lines=True)
mrtweets = mr["text"]
t9_df= pd.DataFrame(mrtweets)
t9_df = t9_df.rename(columns={'text': 'tweet'})
t9_df.insert(0, 'Political Affiliation', 'Republican')
t9_df.head()

  Political Affiliation                                              tweet
0            Republican  RT @jguaido: Hombres y mujeres de nuestro Ejér...
1            Republican  Just finished my interview. No President needs...
2            Republican  Tune in to @FoxNews at 6:25pm today. I will be...
3            Republican  RT @SenRubioPress: Un placer haberme reunido c...
4            Republican  Listening to my democratic colleagues on Senat...

In [42]:
mp = pd.read_json("examples/mikepence.json",lines=True)
mptweets = mp["text"]
t10_df= pd.DataFrame(mptweets)
t10_df = t10_df.rename(columns={'text': 'tweet'})
t10_df.insert(0, 'Political Affiliation', 'Republican')
t10_df.head()

  Political Affiliation                                              tweet
0            Republican  Latino Americans know that it was freedom, not...
1            Republican  Great to have you there @Jenniffer2012! Thanks...
2            Republican  America needs 4 more years of prosperity, 4 mo...
3            Republican  RT @TeamTrump: VP @mike_pence: President @real...
4            Republican  RT @marc_lotter: VP ⁦@mike_pence⁩ touts Latino...

In [43]:
dt = pd.read_json("examples/realdonaldtrump.json",lines=True)
dttweets = dt["text"]
t11_df= pd.DataFrame(dttweets)
t11_df = t11_df.rename(columns={'text': 'tweet'})
t11_df.insert(0, 'Political Affiliation', 'Republican')
t11_df.head()

  Political Affiliation                                              tweet
0            Republican                           Presidential Harassment!
1            Republican  Senator Thom Tillis of North Carolina has real...
2            Republican  Staff Sgt. David Bellavia - today, we honor yo...
3            Republican  Today, it was my great honor to present the Me...
4            Republican  ....Martha is strong on Crime and Borders, the...

In [44]:
sd = pd.read_json("examples/SenateDems.json",lines=True)
sdtweets = sd["text"]
t12_df= pd.DataFrame(sdtweets)
t12_df = t12_df.rename(columns={'text': 'tweet'})
t12_df.insert(0, 'Political Affiliation', 'Democrats')
t12_df.head()

  Political Affiliation                                              tweet
0             Democrats  RT @SenSchumer: Great to meet @ChrisEvans to s...
1             Democrats  RT @SenatorLeahy: 6 years ago today, the Supre...
2             Democrats  RT @SenatorBaldwin: The #ClimateCrisis is a re...
3             Democrats  RT @SenSherrodBrown: Six years ago today, the ...
4             Democrats  RT @SenatorBaldwin: Today, I had a great conve...

In [45]:
sw = pd.read_json("examples/SenWarren.json",lines=True)
swtweets = sw["text"]
t13_df= pd.DataFrame(swtweets)
t13_df = t13_df.rename(columns={'text': 'tweet'})
t13_df.insert(0, 'Political Affiliation', 'Democrats')
t13_df.head()

  Political Affiliation                                              tweet
0             Democrats  In two days, I’ll take the stage for the first...
1             Democrats  We need to face the facts on climate change: i...
2             Democrats  Add your name to call on Congress to restore t...
3             Democrats  Civil rights was one of the things that got me...
4             Democrats  We must secure our borders, but “build the wal...

In [47]:
tc = pd.read_json("examples/tedcruz.json",lines=True)
tctweets = tc["text"]
t14_df= pd.DataFrame(tctweets)
t14_df = t14_df.rename(columns={'text': 'tweet'})
t14_df.insert(0, 'Political Affiliation', 'Republican')
t14_df.head()

  Political Affiliation                                              tweet
0            Republican  RT @dcexaminer: The U.S. froze about $100 bill...
1            Republican  RT @dcexaminer: .@tedcruz: Of the senior execu...
2            Republican  RT @townhallcom: He wants Iran to pay -- liter...
3            Republican  RT @trscoop: WATCH: Ted Cruz GRILLS Google rep...
4            Republican  RT @AIIAmericanGirI: Here's How Ted Cruz Wants...

In [49]:
t1_df.count()

Political Affiliation    3225
tweet                    3225
dtype: int64

In [50]:
t2_df.count()

Political Affiliation    3263
tweet                    3263
dtype: int64

In [51]:
merge12_df = pd.merge(t1_df, t2_df, how='outer')
merge12_df.count()

Political Affiliation    6488
tweet                    6488
dtype: int64

In [52]:
merge34_df = pd.merge(t3_df, t4_df, how='outer')
merge56_df = pd.merge(t5_df, t6_df, how='outer')
merge78_df = pd.merge(t7_df, t8_df, how='outer')
merge910_df = pd.merge(t9_df, t10_df, how='outer')
merge1112_df = pd.merge(t11_df, t12_df, how='outer')
merge1314_df = pd.merge(t13_df, t14_df, how='outer')

In [81]:
merge1234_df = pd.merge(merge34_df, merge12_df, how='outer')
merge5678_df = pd.merge(merge56_df, merge78_df, how='outer')
merge9101112_df = pd.merge(merge910_df, merge1112_df, how='outer')

In [82]:
merge1to8_df = pd.merge(merge1234_df, merge5678_df, how='outer')

In [83]:
merge9to14_df = pd.merge(merge9101112_df, merge1314_df, how='outer')

In [84]:
mergeall_df = pd.merge(merge1to8_df, merge9to14_df, how='outer')

In [87]:
mergeall_df.reset_index(drop=True)
mergeall_df.head()

  Political Affiliation                                              tweet
0             Democrats  Now we’re talking! Congrats to Team USA for mo...
1             Democrats  On Juneteenth, we celebrate our capacity to ma...
2             Democrats  Outside the Oval Office, I kept a painting of ...
3             Democrats  This is worth a read: a thought-provoking remi...
4             Democrats  Yes we can, Greta. I’m hopeful because of you ...

In [88]:
mergeall_df.count()

Political Affiliation    39325
tweet                    39325
dtype: int64

In [89]:
mergeall_df.to_csv("extractedtweets.csv", index=False)